<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>参会人员</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="map-page">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list #usersList [hidden]="shownUsers === 0">

    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">

      <ion-item-divider sticky>
        <ion-label>
          {{group.name}}
        </ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let user of group.usersList" >
        <ion-icon name="contact" item-left></ion-icon>
        {{user.name}}
        <ion-icon *ngIf="user.showCheckIn" name="checkmark-circle" item-right></ion-icon>
      </ion-item>

    </ion-item-group>

  </ion-list>

  <ion-list-header [hidden]="shownUsers > 0">
      No Users Found
  </ion-list-header>
</ion-content>
